@font-face {
  font-family: 'icomoon_ecm';
  src:url("../fonts/fonts/ecm/ecm_icomoon.eot?ttf=49444927");
  src:url("../fonts/fonts/ecm/ecm_icomoon.eot?ttf=49444927") format('embedded-opentype'),
  url("../fonts/fonts/ecm/ecm_icomoon.woff?ttf=49444927") format('woff'),
  url("../fonts/fonts/ecm/ecm_icomoon.ttf?ttf=49444927") format('truetype'),
  url("../fonts/fonts/ecm/ecm_icomoon.svg?ttf=49444927") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icoMoon-"], [class*=" icoMoon-"] {
  font-family: 'icomoon_ecm';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icoMoon-filter-expand-up:before {
content: "\e944";
}
.icoMoon-filter-expand-down:before {
content: "\e943";
}
.icoMoon-ecs-lock:before {
content: "\e942";
}
.icoMoon-deh-big:before {
  content: "\e940";
}
.icoMoon-deh-small:before {
  content: "\e941";
}
.icoMoon-img-error:before {
  content: "\e93f";
}
.icoMoon-open:before {
  content: "\e90d";
}
.icoMoon-closed:before {
  content: "\e93e";
}
.icoMoon-ecs-marketImage:before {
  content: "\e90c";
}
.icoMoon-calculator:before {
  content: "\e900";
}
.icoMoon-ecs-group:before {
  content: "\e917";
}
.icoMoon-ecs-group-small:before {
  content: "\e918";
}
.icoMoon-bms-status:before {
  content: "\e914";
}
.icoMoon-ecs-status:before {
  content: "\e915";
}
.icoMoon-bms:before {
  content: "\e905";
}
.icoMoon-bms-small:before {
  content: "\e906";
}
.icoMoon-csc:before {
  content: "\e913";
}
.icoMoon-backup-immediately:before {
  content: "\e910";
}
.icoMoon-refresh:before {
  content: "\e90f";
}
.icoMoon-status-running2:before {
  content: "\e90e";
}
.icoMoon-vpc-dashboard-small:before {
  content: "\e90a";
}
.icoMoon-security:before {
  content: "\e901";
}
.icoMoon-bandwidth:before {
  content: "\e902";
}
.icoMoon-firewall:before {
  content: "\e903";
}
.icoMoon-ip:before {
  content: "\e904";
}
.icoMoon-route:before {
  content: "\e907";
}
.icoMoon-shhkey:before {
  content: "\e908";
}
.icoMoon-subnet:before {
  content: "\e909";
}
.icoMoon-vpn:before {
  content: "\e90b";
}
.icoMoon-warning:before {
  content: "\e916";
}
.icoMoon-wrong:before {
  content: "\e64d";
}
.icoMoon-add:before {
  content: "\e62e";
}
.icoMoon-closeEmpty:before {
  content: "\e62f";
}
.icoMoon-closeSolid:before {
  content: "\e630";
}
.icoMoon-closeThin:before {
  content: "\e631";
}
.icoMoon-help:before {
  content: "\e632";
}
.icoMoon-icon:before {
  content: "\e633";
}
.icoMoon-openEmpty:before {
  content: "\e634";
}
.icoMoon-openSolid:before {
  content: "\e635";
}
.icoMoon-pencil:before {
  content: "\e636";
}
.icoMoon-search:before {
  content: "\e637";
}
.icoMoon-set:before {
  content: "\e638";
}
.icoMoon-star:before {
  content: "\e639";
}
.icoMoon-status-alarm:before {
  content: "\e63a";
}
.icoMoon-status-avilable:before {
  content: "\e63b";
}
.icoMoon-status-resize:before {
  content: "\e63c";
}
.icoMoon-status-delete:before {
  content: "\e63d";
}
.icoMoon-status-error:before {
  content: "\e63e";
}
.icoMoon-status-mount:before {
  content: "\e63f";
}
.icoMoon-status-noMount:before {
  content: "\e640";
}
.icoMoon-status-normal:before {
  content: "\e641";
}
.icoMoon-status-off:before {
  content: "\e642";
}
.icoMoon-status-pause:before {
  content: "\e643";
}
.icoMoon-status-problem:before {
  content: "\e644";
}
.icoMoon-status-rebulid:before {
  content: "\e645";
}
.icoMoon-status-restore:before {
  content: "\e646";
}
.icoMoon-status-running:before {
  content: "\e647";
}
.icoMoon-status-sleep:before {
  content: "\e648";
}
.icoMoon-status-start:before {
  content: "\e649";
}
.icoMoon-status-stop:before {
  content: "\e64a";
}
.icoMoon-success:before {
  content: "\e64b";
}
.icoMoon-unify_valid:before {
  content: "\e64c";
}
.icoMoon-cancel:before {
  content: "\e62c";
}
.icoMoon-save:before {
  content: "\e62d";
}
.icoMoon-delete:before {
  content: "\e622";
}
.icoMoon-left-arrow:before {
  content: "\e623";
}
.icoMoon-lock:before {
  content: "\e624";
}
.icoMoon-right-arrow:before {
  content: "\e626";
}
.icoMoon-unlock:before {
  content: "\e627";
}
.icoMoon-vdc-small:before {
  content: "\e628";
}
.icoMoon-shhkey-small:before {
  content: "\e608";
}
.icoMoon-alarm-samll:before {
  content: "\e60b";
}
.icoMoon-vpclist-samll:before {
  content: "\e60d";
}
.icoMoon-dashboard-samll:before {
  content: "\e610";
}
.icoMoon-vdc1:before {
  content: "\e61d";
}
.icoMoon-downAction:before {
  content: "\e62a";
}
.icoMoon-topAction:before {
  content: "\e62b";
}
.icoMoon-bare-small:before {
  content: "\e911";
}
.icoMoon-bare-big:before {
  content: "\e912";
}
.icoMoon-vpc:before {
  content: "\e939";
}
.icoMoon-bare-small2:before {
  content: "\e93a";
}
.icoMoon-bare-big2:before {
  content: "\e93b";
}
.icoMoon-cloud-small:before {
  content: "\e931";
}
.icoMoon-scaling-samll:before {
  content: "\e932";
}
.icoMoon-image-small:before {
  content: "\e933";
}
.icoMoon-loadbalancer-small:before {
  content: "\e934";
}
.icoMoon-vpclist-samll2:before {
  content: "\e935";
}
.icoMoon-volume-samll:before {
  content: "\e936";
}
.icoMoon-backup-small:before {
  content: "\e937";
}
.icoMoon-supervision-samll:before {
  content: "\e938";
}
.icoMoon-fle-cloud:before {
  content: "\e919";
}
.icoMoon-scaling-service:before {
  content: "\e91a";
}
.icoMoon-selfImage:before {
  content: "\e91b";
}
.icoMoon-loadbalancer:before {
  content: "\e91c";
}
.icoMoon-vpc2:before {
  content: "\e91d";
}
.icoMoon-physical-machine:before {
  content: "\e91e";
}
.icoMoon-volumememory:before {
  content: "\e91f";
}
.icoMoon-roll-backup:before {
  content: "\e920";
}
.icoMoon-object-store:before {
  content: "\e921";
}
.icoMoon-cloud-gateway:before {
  content: "\e922";
}
.icoMoon-cloud-access:before {
  content: "\e923";
}
.icoMoon-vdc:before {
  content: "\e924";
}
.icoMoon-cdn:before {
  content: "\e925";
}
.icoMoon-DDos:before {
  content: "\e926";
}
.icoMoon-cloudwatch:before {
  content: "\e927";
}
.icoMoon-authentication-service:before {
  content: "\e928";
}
.icoMoon-bigdata:before {
  content: "\e929";
}
.icoMoon-cloud-database:before {
  content: "\e92a";
}
.icoMoon-domain-name:before {
  content: "\e92b";
}
.icoMoon-hybrid-cloud:before {
  content: "\e92c";
}
.icoMoon-ecbs:before {
  content: "\e92d";
}
.icoMoon-cloud-disk:before {
  content: "\e92e";
}
.icoMoon-cloud-desktop:before {
  content: "\e92f";
}
.icoMoon-enterprise-mail:before {
  content: "\e930";
}
.icoMoon-cloud-call:before {
  content: "\e93c";
}
.icoMoon-cloud-safety:before {
  content: "\e93d";
}
.icoMoon-contract:before {
  content: "\e604";
}
