<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctg.test.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.ctg.test.model.Permission">
        <id column="perm_id" property="permId" jdbcType="INTEGER"/>
        <result column="perm_name" property="permName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    perm_id, perm_name
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ctg.test.model.PermissionExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from sys_permission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_permission
        where perm_id = #{permId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_permission
    where perm_id = #{permId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.ctg.test.model.PermissionExample">
        delete from sys_permission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ctg.test.model.Permission">
    insert into sys_permission (perm_id, perm_name)
    values (#{permId,jdbcType=INTEGER}, #{permName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ctg.test.model.Permission">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permId != null">
                perm_id,
            </if>
            <if test="permName != null">
                perm_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permId != null">
                #{permId,jdbcType=INTEGER},
            </if>
            <if test="permName != null">
                #{permName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByExampleSelective" parameterType="map">
        update sys_permission
        <set>
            <if test="record.permId != null">
                perm_id = #{record.permId,jdbcType=INTEGER},
            </if>
            <if test="record.permName != null">
                perm_name = #{record.permName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sys_permission
        set perm_id = #{record.permId,jdbcType=INTEGER},
        perm_name = #{record.permName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ctg.test.model.Permission">
        update sys_permission
        <set>
            <if test="permName != null">
                perm_name = #{permName,jdbcType=VARCHAR},
            </if>
        </set>
        where perm_id = #{permId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ctg.test.model.Permission">
    update sys_permission
    set perm_name = #{permName,jdbcType=VARCHAR}
    where perm_id = #{permId,jdbcType=INTEGER}
  </update>
</mapper>