<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>登录测试</title>
    <link href="/static/css/app.eb3f0f276b1b15fcf8710f56186e19b0.css" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="/static/js/manifest.13884be60a8faf7f3504.js"></script>
    <script type="text/javascript" src="/static/js/vendor.8fb188603bf1434efe42.js"></script>
    <script type="text/javascript" src="/static/js/app.3bfdd324537749ab7287.js"></script>
</body>

</html>
