<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>web测试</title>
    <link href="static/css/app.fea2497f3a1e5a97bc0e6ad5bc8d28e9.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="static/js/manifest.e4deeb0906ad064d63a2.js"></script>
<script type="text/javascript" src="static/js/vendor.5e2fef66daa5a61322ed.js"></script>
<script type="text/javascript" src="static/js/app.8b18fe8100362216307a.js"></script>
</body>
</html>